@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --keyColor: #296630;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --keyColor: #296630;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.cl-userButtonPopoverFooter, .cl-internal-lk7758, .cl-internal-1dauvpw, .cl-internal-13hl4in, .cl-internal-16vtwdp {
  display: none;
}

.section-spacing {
  margin-top: 4rem;
  margin-bottom: 4rem; 
}
